# {{ ansible_managed }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ eck_map_configmap_nginx_name }}
  namespace: {{ eck_map_namespace }}
  labels:
{{ (eck_map_labels | to_nice_yaml(indent=2) | indent(4, first=True)).rstrip('\n') }}
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen {{ eck_map_nginx_listen_port }} ssl;
        ssl_certificate     /etc/nginx-tls/tls.crt;
        ssl_certificate_key /etc/nginx-tls/tls.key;
        location / {
          proxy_pass http://127.0.0.1:{{ eck_map_tileserver_port }};
        }
      }
    }
