# {{ ansible_managed }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ eck_map_deployment_name }}
  namespace: {{ eck_map_namespace }}
  labels:
{{ (eck_map_labels | to_nice_yaml(indent=2) | indent(4, first=True)).rstrip('\n') }}
spec:
  replicas: {{ eck_map_replicas }}
  selector:
    matchLabels:
      app: {{ eck_map_app_label_value }}
  template:
    metadata:
      labels:
        app: {{ eck_map_app_label_value }}
    spec:
      tolerations:
{{ (eck_map_tolerations | to_nice_yaml(indent=2) | indent(8, first=True)).rstrip('\n') }}
      nodeSelector:
        kubernetes.io/hostname: {{ eck_map_k8s_node_hostname }}
      containers:
        - name: tileserver
          image: {{ eck_map_tileserver_image }}
          imagePullPolicy: {{ eck_map_image_pull_policy }}
          args:
            - "--config"
            - "/etc/tileserver-config/config.json"
            - "--port"
            - "{{ eck_map_tileserver_port }}"
          ports:
            - containerPort: {{ eck_map_tileserver_port }}
          resources:
            requests:
              memory: "{{ eck_map_tileserver_requests_memory }}"
              cpu: "{{ eck_map_tileserver_requests_cpu }}"
            limits:
              memory: "{{ eck_map_tileserver_limits_memory }}"
          volumeMounts:
            - name: mapdata
              mountPath: /data
              readOnly: true
            - name: tsconfig
              mountPath: /etc/tileserver-config
              readOnly: true
        - name: nginx-tls
          image: {{ eck_map_nginx_image }}
          imagePullPolicy: {{ eck_map_image_pull_policy }}
          ports:
            - containerPort: {{ eck_map_nginx_listen_port }}
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: tls-cert
              mountPath: /etc/nginx-tls
              readOnly: true
      volumes:
        - name: mapdata
          persistentVolumeClaim:
            claimName: {{ eck_map_pvc_name }}
            readOnly: true
        - name: tsconfig
          configMap:
            name: {{ eck_map_configmap_tileserver_name }}
        - name: nginx-config
          configMap:
            name: {{ eck_map_configmap_nginx_name }}
        - name: tls-cert
          secret:
            secretName: {{ eck_map_certificate_secret_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ eck_map_service_name }}
  namespace: {{ eck_map_namespace }}
  labels:
{{ (eck_map_labels | to_nice_yaml(indent=2) | indent(4, first=True)).rstrip('\n') }}
spec:
  type: {{ eck_map_service_type }}
  selector:
    app: {{ eck_map_app_label_value }}
  ports:
    - port: {{ eck_map_service_port }}
      targetPort: {{ eck_map_nginx_listen_port }}
